/* @group general classes */
.clear { clear: both; }
.form-error { color: red; }
/* @end */

/* @group layout */

body {
    background:#eee;
}

#body {
    width: 600px;
    margin: 0 auto;
    padding: 0px 10px;
    background: #cdcccc;
}

#header {
    background:#aaf;
    padding:10px 20px;
}

#subheader {
    background: #adf;
    color: green;
    padding: 2px;
    font-size: 10pt;
    text-align:right;
    border-top:1px solid #daf;
}

#navigation {
    background:#fbb;
    float:left;
    width:100%;
    margin:2px 0;
}

#content {
    background: #ddd;
    padding: 10px;
}

#footer {
    text-align: center;
    padding: 5px;
    background:#d7b580;
    font-size:70%;
    margin-top:2px;
}

/* @end */

/* @group header */
h1 {
    font-size:200%;
    font-weight:bold;
}

h2 {
    font-size:90%;
    font-weight:bold;
    padding-left:50px;
}

a {
    text-decoration:none;
}
/* @end */

/* @group navigation */

#navigation a {
    display: block;
    border: 1px solid #fdd;
    text-align: center;
    float: left;
    padding: 2px 5px;
}

#navigation a:hover,
#navigation li a:active {
    background: #af0;
}

#navigation a.current {
    background: #0fa;
}

/* @end */

p {
    margin-top:5px;
}

input[type=text],
textarea,
select {
    border:1px solid #0fa;
    background:#efe;
    width:100%;
}

label {
    display: block;
}

table {
    width:100%;
}

caption {
    text-align:center;
    font-weight:bold;
    font-size:120%;
    background:white;
    margin-top:5px;
    padding:5px 0px;
}

thead th {
    background:#0fa;
}

tbody th {
    background:#af0;
    border-bottom:1px solid white;
}

tfoot td {
    background:#fbb;
}

td {
    border-bottom:1px solid #335;
}

th, td {
    text-align:center;
    vertical-align:middle;
    padding:5px 10px;
}

#calendar td {
    padding:0px;
}

#calendar td.today a {
    background:#fbb;
}

#calendar td a {
    display:block;
    padding:10px 15px;
}

#calendar td a:hover {
    background:#af0;
}

#meal-view caption {
    text-align:right;
    color:red;
}

.errorlist {
    float:right;
    color:red;
}

/* @group member */
#member-list td {
    padding: 0px 10px;
    border: none;
}

.manager {
    color: red;
}

.gravatar {
  float:left;
  padding:5px;
  position:relative;
}
/* @end */
