body { background-color: #eeddcc; }
img { border: none; }

/* @group general classes */

.clear { clear: both; }
.round { -moz-border-radius: 10px; -webkit-border-radius:10px; }
.round-left {
    -moz-border-radius: 10px 0px 0px 10px;
    -webkit-border-top-left-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;
}
.round-top {
    -moz-border-radius: 10px 10px 0px 0px;
    -webkit-border-top-left: 10px;
    -webkit-border-top-right: 10px;
}
.round-right {
    -moz-border-radius: 0px 10px 10px 0px;
    -webkit-border-top-right: 10px;
    -webkit-border-bottom-right: 10px;
}
.round-bottom {
    -moz-border-radius: 0px 0px 10px 10px;
    -webkit-border-bottom-left-radius: 10px;
    -webkit-border-bottom-right: 10px;
}
/* @end */

/* @group layout */

#body {
    width: 600px;
    margin: 0 auto;
    padding: 50px;
    border: 1px solid red;
    background: #eeccdd;
}

#header {
/*    width: 100%;*/
    border: 1px solid red;
}

#subheader {
    background: #adf;
    color: green;
    padding: 2px;
    font-size: 10pt;
    margin: 0px 0px 10px 0px;
}

#navigation {
    width: 1px;
    float: left;
    margin: 0;
/*    position: relative;*/
    padding-top: 20px;
}

#content {
    width: 400px;
    left:-1px;
    float: right;
    background: #ddd;
    border: 1px solid blue;
    padding: 10px;
    margin: 10px 0px 10px 0px;
    position: relative;
/*    left: -25%;*/
}

#sidebar {
    width: 150px;
    float: right;
    border: 1px solid black;
    background: #dfd;
    margin: 10px 0px 10px 5px;
    padding: 10px;
}

#footer {
    text-align: center;
    padding: 5px;
    border: 1px solid red;
}

/* @end */

/* @group navigation */

#navigation ul {
    list-style-type: none;
    list-style-position: outside;
    position: relative;
    width: 120px;
    left: -120px;
    padding: 0px;
}

#navigation li a {
    display: block;
    text-decoration: none;
    border: 1px solid black;
    text-align: center;
    margin-bottom: 3px;
    margin-left: -5px;
    padding-top: 5px;
}

#navigation li a:hover, #navigation li a:active {
    background: #fff;
}

/* @end */

/* @group app */

.app {
    padding: 15px;
    background: white;
    margin: 4px;
}

.app-name a {
    display: block;
    width: 100%;
    background: #ff1;
    text-decoration: none;
    text-align: center;
    padding: 5px 0px 5px 0px;
}

.app-name a:visited {
    color: green;
}

.install a, .vote, .like-it {
    float: right;
    width: 70px;
    border: 1px solid green;
    text-align: center;
    vertical-align: middle;
    padding: 5px;
    clear: right;
    background: #aaa;
}

.install a {
    text-decoration: none;
}

.install a:hover, .install a:active {
    background: white;
}

.like-it {
}

.app-footer {
    font-size: 70%;
    width: 100%;
    background: #ccc;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}

.comment {
    border: 2px solid green;
    padding: 15px;
    margin: 2px;
    background: #eee;
    min-height: 80px;
}

.errorlist {
    list-style: none;
    color: red;
    border: 1px red solid;
}

/*.tags ul {
    list-style: none;
    list-style-position: inside;
    margin: 0 auto;
    border: 1px solid red;
    position: relative;
}
*/
.tags li {
    float: left;
    position: relative;
}

.tag {
    display: block;
    text-decoration: none;
    font-size: 10px;
    padding: 8px;
    background: #daa;
    float: left;
}

.repo {
    margin: 5px 0px;
    padding: 10px;
}

.admin {
    float: right;
    padding: 5px;
}
/* @end */

/* @group user */
.gravatar {
  float:left;
  padding:5px;
  position:relative;
}

.left {
  border:1px black solid;
  float:left;
  position:relative;
}

.comment-user {
  background:#dfd;
  padding:5px;
}
/* @end */
