{% extends "template.html" %}

{% load i18n %}

{% block site_title %}
    {% trans "Messnager" %}
{% endblock %}

{% block header %}
    <h1><a href="/">{% trans "Messnager" %}</a></h1>
	<h2>{% trans "Mess Manager" %}</h2>
{% endblock %}

{% block subheader %}
    {% if admin %}
        {% trans "Admin" %}:: {{ admin_nick }},
        <a href="{{ logout_url }}">{% trans "logout" %}</a>
    {% else %}
        {% if user %}
            {% trans "Welcome" %} {{ user }},
            <a href="{{ logout_url }}"> {% trans "logout" %}</a>
        {% else %}
            {% blocktrans %}Please <a href="{{ login_url }}">login</a> here{% endblocktrans %}
        {% endif %}
    {% endif %}
{% endblock %}

{% block navigation %}
    {% include 'navigation.html' %}
{% endblock %}

{% block sidebar %}
{% endblock %}

{% block footer %}
    {% trans "Developed by" %}: {% trans "M. Nasimul Haque, Copyright  &copy; 2008" %}
{% endblock %}
