{% load i18n %}

<a href="/">{% trans "Home" %}</a>
{% if admin %}
    <a href="/mess/">{% trans "Mess" %}</a>
{% endif %}
{% if admin or user %}
    <a href="/member/">{% trans "Members" %}</a>
    <a href="/meals/view/">{% trans "Daily Meal" %}</a>
    <a href="/meals/view/{{current_year}}-{{current_month}}/">{% trans "Monthly Meal" %}</a>
{% endif %}
{% if admin or manager %}
    <a href="/meals/edit/">{% trans "Manage Meal" %}</a>
    <a href="/manager/">{% trans "Assign Manager" %}</a>
{% endif %}
