{% load i18n %}

<a href="/">{% trans "Home" %}</a>
{% if admin %}
    <a href="/mess/">{% trans "Mess" %}</a>
{% else %}
    {% if user %}
        <a href="/mess/view/">{% trans "Mess" %}</a>
    {% endif %}
{% endif %}
{% if admin or user %}
    <a href="/member/">{% trans "Members" %}</a>
    <a href="/meals/bazaar/">{% trans "Bazaar" %}</a>
    <a href="/meals/view/">{% trans "Daily" %}</a>
    <a href="/meals/view/current/">{% trans "Monthly" %}</a>
{% endif %}
{% if admin or manager %}
    <a href="/meals/edit/">{% trans "Manage" %}</a>
    <a href="/manager/">{% trans "Manager" %}</a>
{% endif %}
