{% load i18n %}

<a href="/" {% ifequal current_menu "home" %}class="current"{% endifequal %}>{% trans "Home" %}</a>
{% if admin %}
    <a href="/mess/" {% ifequal current_menu "mess" %}class="current"{% endifequal %}>{% trans "Mess" %}</a>
{% else %}
    {% if manager %}
        <a href="/mess/view/" {% ifequal current_menu "mess" %}class="current"{% endifequal %}>{% trans "Mess" %}</a>
    {% endif %}
{% endif %}
{% if admin or user %}
    <a href="/member/" {% ifequal current_menu "member" %}class="current"{% endifequal %}>{% trans "Member" %}</a>
    <a href="/bazaar/" {% ifequal current_menu "bazaar" %}class="current"{% endifequal %}>{% trans "Bazaar" %}</a>
    <a href="/daily/" {% ifequal current_menu "daily" %}class="current"{% endifequal %}>{% trans "Daily" %}</a>
    <a href="/monthly/" {% ifequal current_menu "monthly" %}class="current"{% endifequal %}>{% trans "Monthly" %}</a>
{% endif %}
{% if admin or manager %}
    <a href="/meals/" {% ifequal current_menu "meals" %}class="current"{% endifequal %}>{% trans "Meals" %}</a>
    <a href="/manager/" {% ifequal current_menu "manager" %}class="current"{% endifequal %}>{% trans "Manager" %}</a>
{% endif %}
