<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
        <title>
            {% block site_title %}
            {% endblock %}
            ::
            {% block title %}
            {% endblock %}
        </title>

		{% block meta %}
		{% endblock %}

        <link rel="stylesheet"
              type="text/css"
              href="http://yui.yahooapis.com/2.6.0/build/reset/reset-min.css"
              media="all" />
        <link rel="stylesheet"
              type="text/css"
              href="/static/css/style.css"
              media="screen" />
        <link rel="stylesheet"
              type="text/css"
              href="/static/css/print.css"
              media="print" />

        <script type="text/javascript" src="/static/js/jquery.js"></script>

        {% block stylesheets %}
        {% endblock %}
        {% block javascripts %}
        {% endblock %}
    </head>

    <body>
        <div id="body">
            <div id="header" class="clear">
                {% block header %}
                {% endblock %}
            </div>

            <div id="subheader">
                {% block subheader %}
                {% endblock %}
            </div>

           	<div id='navigation' class='clear'>
               	{% block navigation %}
            	{% endblock %}
           	</div>

            <div id='content' class='clear'>
                {% block content %}
                {% endblock %}
            </div>

            <div id="footer" class="clear">
                {% block footer %}
                {% endblock %}
            </div>
        </div>
    </body>
</html>
