{% extends "base.html" %}

{% load i18n %}
{% load beng_num %}

{% block title %}{% trans "Assign manager" %}{% endblock %}

{% block content %}
     <form method="post" id="manager-form">
        <table id="manager-form-table">
            <thead>
                <tr>
                    <td>{% trans "Member" %}</td>
                    <td>{% trans "Manager" %}</td>
                </tr>
            </thead>
            <tbody>
                {% for form in forms %}
                    <tr>
                        <td>{{ form.0.nick|truncate_chars:20 }}</td>
                        <td>{{form.1.role_id}}
                        {{form.1.member}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {{ management_form }}
        <p><input type="submit" value="{% trans "Save" %}"></p>
    </form>
{% endblock %}
