{% extends "base.html" %}

{% load i18n %}
{% load beng_num %}

{% block title %}{% trans "Assign manager" %}{% endblock %}

{% block content %}
     <form method="post" id="manager-form">
        <table id="manager-form">
            <thead>
                <tr>
                    <th>{% trans "Member" %}</th>
                    <th>{% trans "Manager" %}</th>
                    {% if admin %}
                        <th>{% trans "Mess" %}</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                {% for form in forms %}
                    <tr>
                        <th>{{ form.0.nick|truncate_chars:20 }}</td>
                        <td>{{form.1.role_id}}
                        {{form.1.member}}</td>
                        {% if admin %}
                            <td>{{ form.0.mess.name }}</td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {{ management_form }}
        <p><input type="submit" value="{% trans "Save" %}"></p>
    </form>
{% endblock %}
