{% extends "base.html" %}

{% load i18n %}
{% load beng_num %}

{% block title %}
	{% trans "Calender" %}
{% endblock %}

{% block content %}
    <center>
        <a href="/{{ task }}/{{ previous }}/">{% trans "Previous" %}</a>
        :: {{ month|eng_month}}, {{ year|beng_numeral}} ::
        <a href="/{{ task }}/{{ next }}/">{% trans "Next" %}</a>

        <table id="calendar">
            <thead>
                <tr>
                    <th>{% trans "Mon" %}</th>
                    <th>{% trans "Tue" %}</th>
                    <th>{% trans "Wed" %}</th>
                    <th>{% trans "Thu" %}</th>
                    <th>{% trans "Fri" %}</th>
                    <th>{% trans "Sat" %}</th>
                    <th>{% trans "Sun" %}</th>
                </tr>
            </thead>

            <tbody>
                {% for week in calendar %}
                    <tr>
                        {% for day in week %}
                            <td
                                {% ifequal today day %}
                                    class="today"
                                {% endifequal %}
                            >
                                {% ifnotequal day 0 %}
                                    <a href="/{{task}}/{{year}}-{{month}}-{{day}}/">
                                        {{ day|beng_numeral }}
                                    </a>
                                {% endifnotequal %}
                            </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </center>
{% endblock %}
