{% extends "base.html" %}

{% load i18n %}
{% load beng_num %}

{% block content %}
    <center>
        <a href="/meals/{{ task }}/{{ previous }}/">{% trans "Previous" %}</a>
            :: {{ month|eng_month}}, {{ year|beng_numeral}} ::
        <a href="/meals/{{ task }}/{{ next }}/">{% trans "Next" %}</a>

        <table id="calendar">
            <thead>
                <tr>
                    <td>{% trans "Mon" %}</td>
                    <td>{% trans "Tue" %}</td>
                    <td>{% trans "Wed" %}</td>
                    <td>{% trans "Thu" %}</td>
                    <td>{% trans "Fri" %}</td>
                    <td>{% trans "Sat" %}</td>
                    <td>{% trans "Sun" %}</td>
                </tr>
            </thead>

            <tbody>
                {% for week in calendar %}
                    <tr>
                        {% for day in week %}
                            <td
                                {% ifequal today day %}
                                    class="today"
                                {% endifequal %}
                            >
                                {% ifnotequal day 0 %}
                                    <a href="/meals/{{task}}/{{year}}-{{month}}-{{day}}/">
                                        {{ day|beng_numeral }}
                                    </a>
                                {% endifnotequal %}
                            </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </center>
{% endblock %}
