{% extends "base.html" %}

{% load i18n %}
{% load beng_num %}

{% block title %}
    {% trans "Manage Meals" %}
{% endblock %}

{% block content %}
    <p>{% trans "Day" %}: {{ date|beng_numeral }}, {{ weekday|beng_weekday }}</p>

     <form method="post" id="meal-form">
        <table id="meal-form-table">
            <thead>
                <tr>
                    <td>{% trans "Member" %}</td>
                    <td>{% trans "Breakfast" %}</td>
                    <td>{% trans "Lunch" %}</td>
                    <td>{% trans "Supper" %}</td>
                    <td>{% trans "Extra" %}</td>
                    {% if admin %}
                        <td>{% trans "Mess" %}</td>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                {% for form in forms %}
                    <tr>
                        <td>{{ form.0.nick|truncate_chars:20 }}</td>
                        <td>{{form.1.breakfast}}</td>
                        <td>{{form.1.lunch}}</td>
                        <td>{{form.1.supper}}</td>
                        <td>
                            <span class="form-error">
                                {{form.1.extra.errors}}
                            </span>
                            {{form.1.extra}}
                            {{form.1.member}}
                        </td>
                        {% if admin %}
                            <td>{{ form.0.mess }}</td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {{management_form}}
        <p><input type="submit" value="{% trans "Save" %}"></p>
    </form>
{% endblock %}
