{% extends "meal_view.html" %}

{% load i18n %}
{% load beng_num %}

{% block title %}
	{% trans "Monthly Meals" %}
{% endblock %}

{% block meal_title %}
    <span class="other">
        <a href="/monthly/{{ previous }}/{% if admin and key %}{{ key }}{% endif %}">
            {% trans "Previous" %}
        </a> ::
    </span>
    {{ month|eng_month}}, {{ year|beng_numeral}}
    <span class="other">
        :: <a href="/monthly/{{ next }}/{% if admin and key %}{{ key }}{% endif %}">
            {% trans "Next" %}
        </a>
    </span>
{% endblock %}

{% block bazaar %}
    <table id="bazaar-monthly">
		<caption>{% trans "Bazaar" %}</caption>
        <thead>
			<tr>
				<th>{% trans "Name" %}</th>
				<th>{% trans "Date" %}</th>
                <th>{% trans "Description" %}</th>
				<th>{% trans "Amount" %}</th>
			</tr>
        </thead>

		<tbody>
	        {% for bazaar in total.bazaar %}
	        	<tr>
	                <th>{{ bazaar.nick }}</th>
	                <td>{{ bazaar.date|date:"d-m-y"|beng_numeral }}</td>
                    <td>{{ bazaar.description|truncatewords:8 }}</td>
	                <td>{{ bazaar.amount|floatformat:2|beng_numeral }}</td>
	                </tr>
	        {% endfor %}
		</tbody>
		
		<tfoot>
			<tr>
				<th colspan="3">{% trans "Total" %}</th>
				<td>{{ total.cost|floatformat:2|beng_numeral }}</td>
			</tr>
		</tfoot>
    </table>
{% endblock %}
