{% extends "base.html" %}

{% load i18n %}
{% load beng_num %}

{% block title %}
    {% trans "View Meal" %}
{% endblock %}

{% block content %}
    {% block meal_title %}
    {% endblock %}

    <table id="meal-view">
        <caption>
            {% if total.rate %}
                {% trans "Meal Rate" %}: {{ total.rate|floatformat:2|beng_numeral }}
            {% endif %}
        </caption>
        <thead>
            <tr>
                <th>{% trans "Member" %}</th>
                <th>{% trans "Breakfast" %}</th>
                <th>{% trans "Lunch" %}</th>
                <th>{% trans "Supper" %}</th>
                <th>{% trans "Extra" %}</th>
                <th>{% trans "Total" %}</th>
                {% if total.cost %}
                    <th>{% trans "Cost" %}</th>
                {% endif %}
            </tr>
        </thead>

        <tbody>
            {% if total.member %}
                {% for key, member in total.member.iteritems %}
                    <tr>
                        <th>
                            {% if year and month %}
                                <a href="/member/{{key}}/{{year}}-{{month}}/">
                                    {{ member.nick }}
                                </a>
                            {% else %}
                                {{ member.nick }}
                            {% endif %}
                        </th>
                        <td>{{ member.breakfast|beng_numeral }}</td>
                        <td>{{ member.lunch|beng_numeral }}</td>
                        <td>{{ member.supper|beng_numeral }}</td>
                        <td>{{ member.extra|floatformat|beng_numeral }}</td>
                        <td>{{ member.total|floatformat|beng_numeral }}</td>
                        {% if total.cost %}
                            <td>{{ member.cost|floatformat:2|beng_numeral }}</td>
                        {% endif %}
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="6">{% trans "No meal data available" %}</td>
                </tr>
            {% endif %}
        </tbody>

        <tfoot>
            <tr>
                <td>{{ total.members|beng_numeral }}</td>
                <td>{{ total.breakfast|beng_numeral }}</td>
                <td>{{ total.lunch|beng_numeral }}</td>
                <td>{{ total.supper|beng_numeral }}</td>
                <td>{{ total.extra|floatformat|beng_numeral }}</td>
                <td>{{ total.total|floatformat|beng_numeral }}</td>
                {% if total.cost %}
                    <td>{{ total.cost|floatformat:2|beng_numeral }}</td>
                {% endif %}
            </tr>
        </tfoot>
    </table>

    {% block bazaar %}
    {% endblock %}
{% endblock %}
