{% extends "meal_view.html" %}

{% load i18n %}
{% load beng_num %}

{% block title %}
	{% trans "Daily Meal" %}
{% endblock %}

{% block meal_title %}
    <span class="other">
        <a href="/daily/{{day}}/previous">
            {% trans "Previous" %}
        </a> ::
    </span>
    {{ date|beng_numeral }}, {{ weekday|beng_weekday }}
    <span class="other">
        :: <a href="/daily/{{day}}/next">
            {% trans "Next" %}
        </a>
    </span>
{% endblock %}

{% block bazaar %}
    <table id="bazaar-monthly">
        <caption>{% trans "Bazaar" %}</caption>
        <thead>
            <tr>
                <th>{% trans "Name" %}</th>
                <th>{% trans "Description" %}</th>
                <th>{% trans "Amount" %}</th>
            </tr>
        </thead>

        <tbody>
            {% for bazaar in total.bazaar %}
                <tr>
                    <th>{{ bazaar.nick }}</th>
                    <td>{{ bazaar.description }}</td>
                    <td>{{ bazaar.amount|floatformat:2|beng_numeral }}</td>
                </tr>
            {% endfor %}
        </tbody>

        <tfoot>
            <tr>
                <th colspan="2">{% trans "Total" %}</th>
                <td>{{ total.cost|floatformat:2|beng_numeral }}</td>
            </tr>
        </tfoot>
    </table>
{% endblock %}
