{% extends "base.html" %}

{% load i18n %}
{% load beng_num %}

{% block title %}
    {% trans member.nick %}
{% endblock %}

{% block content %}
    {% trans member.nick %}
    <center>
        <a href="/member/{{ member.key }}/{{ previous }}/">{% trans "Previous" %}</a>
        :: {{ month|eng_month}}, {{ year|beng_numeral}} ::
        <a href="/member/{{ member.key }}/{{ next }}/">{% trans "Next" %}</a>
    </center>
    <table id="meal-view">
        <thead>
            <tr>
                <th>{% trans "Date" %}</th>
                <th>{% trans "Breakfast" %}</th>
                <th>{% trans "Lunch" %}</th>
                <th>{% trans "Supper" %}</th>
                <th>{% trans "Extra" %}</th>
            </tr>
        </thead>

        <tbody>
            {% if meals %}
                {% for meal in meals %}
                    <tr>
                        <td>{{ meal.date|date:"d"|beng_numeral }}</td>
                        <td>{% if meal.breakfast %}X{% endif %}</td>
                        <td>{% if meal.lunch %}X{% endif %}</td>
                        <td>{% if meal.supper %}X{% endif %}</td>
                        <td>{{ meal.extra|floatformat|beng_numeral }}</td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="6">{% trans "No meal data available" %}</td>
                </tr>
            {% endif %}
        </tbody>

        <tfoot>
            <tr>
                <td>{% trans "Total" %}</td>
                <td>{{ total.breakfast|beng_numeral }}</td>
                <td>{{ total.lunch|beng_numeral }}</td>
                <td>{{ total.supper|beng_numeral }}</td>
                <td>{{ total.extra|floatformat|beng_numeral }}</td>
                <td>{{ total.total|floatformat|beng_numeral }}</td>
            </tr>
        </tfoot>
    </table>
{% endblock %}
