{% extends "base.html" %}

{% block content %}
    {% if admin or manager %}
        <a href='/member/create/'>নতুন সদস্য যোগ করুন</a>
    {% endif %}
    <table id='member-list'>
        {% for member in members %}
            <tr {% ifequal member.role_id roles.manager %}class="manager"{% endifequal %}>
                <th><img src="{{ member.gravatar }}" alt="gravatar" /></th>
                <td>{{ member.nick }}</td>
                {% if admin or manager %}
                    <td><a href="/member/edit/{{ member.key }}/">সম্পাদনা</a></td>
                {% endif %}
                {% if admin %}
                    <td><a href="/member/delete/{{ member.key }}/">মুছুন</a></td>
                {% endif %}
            </tr>
        {% endfor %}
    </table>
{% endblock %}
