{% load i18n %}

<form method="post">
    <table id="member-form-table">
        <tr>
            <td><label for="id_nick">{% trans "Nick" %}</label></td>
            <td>{{ form.nick }}</td>
            <td class="form-error">{% trans form.nick.errors %}</td>
        </tr>
        <tr>
            <td><label for="id_email">{% trans "Email" %}</label></td>
            <td>{{ form.email }}</td>
            <td class="form-error">{% trans form.email.errors %}</td>
        </tr>
        <tr>
            <td><label for="id_nick">{% trans "Active" %}</label></td>
            <td>{{ form.active }}</td>
            <td class="form-error">{% trans form.active.errors %}</td>
        </tr>
        <tr>
        {% if admin %}
            <td><label for='id_mess'>{% trans "Mess" %}</label></td>
            <td>{{ form.mess }}</td>
            <td class="form-error">{% trans form.mess.errors %}</td>
        {% else %}
            <td>{{ form.mess }}</td>
        {% endif %}
        </tr>
    </table>
    <p><input type="submit" value="{% trans "Save" %}"></p>
</form>
