{% extends "base.html" %}

{% load i18n %}

{% block title %}
    {% trans "New Mess" %}
{% endblock %}

{% block content %}
    <form method="post">
        <table id="mess-form-table">
            <tr>
                <td><label for="id_name">{% trans "Name" %}</label></td>
                <td>{{ form.name }}</td>
                <td class="form-error">{{ form.name.errors }}</td>
            </tr>
        </table>

        <p><input type="submit" value="{% trans "Save" %}"></p>
    </form>
{% endblock %}
