{% extends "base.html" %}

{% load beng_num %}

{% block title %}মিল ম্যানেজিং{% endblock %}

{% block content %}
    তারিখঃ {{ date|beng_numeral }} <br />
    রোজঃ {{ weekday|beng_weekday }}

    <table id="meal-view">
        <thead>
            <tr>
                <td>সদস্য</td>
                <td>সকালের নাস্তা</td>
                <td>দুপুরের খাবার</td>
                <td>রাতের খাবার</td>
                <td>অতিরিক্ত</td>
            </tr>
        </thead>

        <tbody>
            {% for meal in meals %}
                <tr>
                    <td>{{ meal.member.nick }}</td>
                    <td>{% if meal.breakfast %}X{% endif %}</td>
                    <td>{% if meal.lunch %}X{% endif %}</td>
                    <td>{% if meal.supper %}X{% endif %}</td>
                    <td>{{ meal.extra|beng_numeral }}</td>
                </tr>
            {% endfor %}
        </tbody>

        <tfoot>
            <tr>
                <td>{{ total.count|beng_numeral }} জন</td>
                <td>{{ total.breakfast|beng_numeral }}</td>
                <td>{{ total.lunch|beng_numeral }}</td>
                <td>{{ total.supper|beng_numeral }}</td>
                <td>{{ total.extra|beng_numeral }}</td>
            </tr>
            <tr>
                <td colspan="2">সর্বমোট মিল সংখ্যা</td>
                <td colspan="3">{{ total.total|beng_numeral }}</td>
            </tr>
        </tfoot>
    </table>
{% endblock %}
